<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop.dao.CollectionMapper">
	<resultMap id="BaseResultMap" type="shop.model.Collection">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="userid" jdbcType="INTEGER" property="userid" />
		<result column="goodsId" jdbcType="INTEGER" property="goodsid" />
		<result column="goodsName" jdbcType="VARCHAR" property="goodsname" />
		<result column="goodsProPic" jdbcType="VARCHAR" property="goodspropic" />
		<result column="goodsPrice" jdbcType="DOUBLE" property="goodsprice" />
		<result column="time" jdbcType="TIMESTAMP" property="time" />
		<result column="shopid" jdbcType="INTEGER" property="shopid" />
	</resultMap>
	<sql id="Base_Column_List">
		id, userid, goodsId, goodsName, goodsProPic, goodsPrice,
		time, shopid
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from jd_collection
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		jd_collection
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="shop.model.Collection">
		insert into jd_collection (id,
		userid, goodsId,
		goodsName, goodsProPic, goodsPrice,
		time, shopid)
		values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER},
		#{goodsid,jdbcType=INTEGER},
		#{goodsname,jdbcType=VARCHAR},
		#{goodspropic,jdbcType=VARCHAR}, #{goodsprice,jdbcType=DOUBLE},
		#{time,jdbcType=TIMESTAMP}, #{shopid,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="shop.model.Collection">
		insert into jd_collection
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userid != null">
				userid,
			</if>
			<if test="goodsid != null">
				goodsId,
			</if>
			<if test="goodsname != null">
				goodsName,
			</if>
			<if test="goodspropic != null">
				goodsProPic,
			</if>
			<if test="goodsprice != null">
				goodsPrice,
			</if>
			<if test="time != null">
				time,
			</if>
			<if test="shopid != null">
				shopid,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="userid != null">
				#{userid,jdbcType=INTEGER},
			</if>
			<if test="goodsid != null">
				#{goodsid,jdbcType=INTEGER},
			</if>
			<if test="goodsname != null">
				#{goodsname,jdbcType=VARCHAR},
			</if>
			<if test="goodspropic != null">
				#{goodspropic,jdbcType=VARCHAR},
			</if>
			<if test="goodsprice != null">
				#{goodsprice,jdbcType=DOUBLE},
			</if>
			<if test="time != null">
				#{time,jdbcType=TIMESTAMP},
			</if>
			<if test="shopid != null">
				#{shopid,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="shop.model.Collection">
		update jd_collection
		<set>
			<if test="userid != null">
				userid = #{userid,jdbcType=INTEGER},
			</if>
			<if test="goodsid != null">
				goodsId = #{goodsid,jdbcType=INTEGER},
			</if>
			<if test="goodsname != null">
				goodsName = #{goodsname,jdbcType=VARCHAR},
			</if>
			<if test="goodspropic != null">
				goodsProPic = #{goodspropic,jdbcType=VARCHAR},
			</if>
			<if test="goodsprice != null">
				goodsPrice = #{goodsprice,jdbcType=DOUBLE},
			</if>
			<if test="time != null">
				time = #{time,jdbcType=TIMESTAMP},
			</if>
			<if test="shopid != null">
				shopid = #{shopid,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="shop.model.Collection">
		update
		jd_collection
		set userid = #{userid,jdbcType=INTEGER},
		goodsId =
		#{goodsid,jdbcType=INTEGER},
		goodsName = #{goodsname,jdbcType=VARCHAR},
		goodsProPic = #{goodspropic,jdbcType=VARCHAR},
		goodsPrice =
		#{goodsprice,jdbcType=DOUBLE},
		time = #{time,jdbcType=TIMESTAMP},
		shopid = #{shopid,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectCollectionListByUserid" resultType="shop.model.Collection"
		parameterType="java.lang.Integer">
		select
		*
		from jd_collection
		where userid = #{userid}
	</select>

	<select id="selectCountCollectionByUserid" resultType="shop.model.PageBean"
		parameterType="java.lang.Integer">
		SELECT
		COUNT(*) count
		FROM
		jd_collection where
		userid=#{userid}
	</select>

	<select id="selectCollectionPage" resultType="shop.model.Collection"
		parameterType="map">
		SELECT id, userid, goodsId, goodsName, goodsProPic,
		goodsPrice, time, shopid FROM
		jd_collection
		where userid = #{userid} limit #{start},#{end}
	</select>

	<select id="selectIsExist" resultType="shop.model.Collection"
		parameterType="shop.model.Collection">
		SELECT
		jd_collection.id,
		jd_collection.userid,
		jd_collection.goodsId,
		jd_collection.goodsName,
		jd_collection.goodsProPic,
		jd_collection.goodsPrice,
		jd_collection.time,
		jd_collection.shopid
		FROM
		jd_collection
		where userid=#{userid} and goodsId=#{goodsid}
	</select>
</mapper>